.root{
    -fx-background-color: black;
}
.label{
    -fx-text-fill: aliceblue;
}
.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #414141;
}
.tab-pane{
    -fx-background-color: #414141;
}
.tab-pane .tab{
    -fx-background-color: black;
}
.tab-pane .tab:selected{
    -fx-background-color: #414141;
}
.tab .tab-label{
    -fx-text-fill: aliceblue;
}
.tab:selected .tab-label{
    -fx-text-fill: aliceblue;
}